<html lang="en">
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/stylesheets/intro.scss">
</head>

<div class="containerIntro">
    <div class = "float left">
      <div class = "text-danger">{{ error }}</div>
      <h1 class= "py-4">Introduction</h1>
      <p>Welcome to our study on <strong>Predicting the number of dots in an image.</strong></p>
    </div>
    <p class="forbiddenP"><strong>Please do not use the back/forward or refresh features of your browser as 
        they will end your session and you will not be paid.</strong></p>
    <p>Please read the  <a href="/images/images/consent.pdf" target="_blank">Consent Form </a> before you start this user study. If you agree to participate in this user study, 
        please input your Amazon Turk Worker ID and click “Start”.<p>
    <div class="footer4introduce">
        <div class = "text-danger">{{ error }}</div>
        <form autocomplete="off" method="POST" action="/activity/">
            <input autocomplete="off" type="text" class="form-control" placeholder="Amazon Turk Worker ID" 
                aria-label="Amazon Turk Worker ID" aria-describedby="basic-addon2" name="userID">
            <button type="submit" class="btn btn-success" id="startStudyBtn">Start</button>
        </form>
    </div>
</div>

</html>
