<html lang="en">

<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/stylesheets/intro.scss">
</head>

<div class="containerIntro">
    <div class = "float left">
      <div class = "text-danger">{{ error }}</div>
      <h1 class= "py-4">Introduction</h1>
      <p>Welcome to our study on <strong>Shape and Object Detection in Images.</strong> This study should take between 10 - 20 minutes to complete.</p>
      <p>This study will involve completing 40 different exercises related to object detection. For each question,
      you will be asked to determine if you believe a specified object is or isn't in an image.
      From the results of this study, we want to better understand how independent visual screening judgments from multiple
      participants can be aggregated to perform challenging shape and object detection tasks.
      <h1 class= "py-2">Task</h1>
      You will be assigned 40 exercises where you will be prompted to look for a specified object
      in an image. For each exercise, you will be asked to respond to the following questions:
      <br>
      <br>
      <ol>
        <li>Is the object in the image? If so, locate it in the image</li>
        <li>What is your level of confidence in this decision?</li>
      </ol>
      You will have 60 seconds to respond to these questions for each exercise. In addition, you will have the ability to rotate images to look at them at different angles. If you are unable to
      unable to answer these questions within the 60 second time frame, the image will disappear, and you will have to submit your answers.
      </p>
      <p>
      Please answer all questions to the best of your ability. If for whatever reason you do not answer all of the questions in an exercise,
      you will be prompted to try again with the remaining time that you have left. Some questions are purposely challenging, and it may be difficult to answer the questions accurately. If you are unsure about
      a certain question, we ask that you please answer it to the best of your ability.

      </p>
      <p> <span class="text-danger">NOTE:</span> All participants that complete this activity in full will be compensated <strong>$2.00</strong> for their time and effort.
      Your score will be shown at the end of the activity.

      </p>
      <h1 class= "py-2">Sample User Interface of Task</h1>
      <img src= "/images/sampleUI.png" width="500" height="800">
      <h1 class= "py-2">Training</h1>
      <p>A demo video is provided to show all interactions available in our user interface.</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/edeQRojiN_s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <h1 class= "py-2">When Finished...</h1>
      <p>After you have finished all the questions, there is a Demographics Questionnaire. Please complete it.
      When you have completed the Demographics Questionnaire, a redeem code will be spawned in the page.
      Please enter this redeem code in Amazon Mechanical Turk in order to get your compensation.
      </p>

    <p class="forbiddenP"><strong>Please do not use the back/forward or refresh features of your browser as
        they will end your session and you will not be paid.</strong></p>

    <p>Please read the  <a href="/images/consent.pdf" target="_blank">Consent Form </a> before you start this user study. If you agree to participate in this user study,
        please input your Amazon Turk Worker ID and click “Start”.<p>
    <div class="footer4introduce">
        <div class = "text-danger">{{ error }}</div>
        <form autocomplete="off" method="POST" action="/activity/">
            <input autocomplete="off" type="text" class="form-control" placeholder="Amazon Turk Worker ID"
                aria-label="Amazon Turk Worker ID" aria-describedby="basic-addon2" name="userID">
            <button type="submit" class="btn btn-success" id="startStudyBtn">Start</button>
        </form>
    </div>
</div>
</html>
