
  .containerIntro {
    background-color: #F5F5F5;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    border: 1px solid transparent;
    border-radius: 1.25rem;
    width: 80%;
  }

  .test{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #F5F5F5;
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 1.25rem;
    width: 80%;
  }

  .footer4introduce {
    text-align: center
  }
  .footer4introduce button{
    margin-top: -0.5%;
  }
  
  .btn-green {
    background-color: #1ab394;
    color: #fff;
    border-radius: 3px;
    
    &:hover, &:focus {
      background-color: #18a689;
      color: #fff;
    }
  }
  
  .form-control {
    width: 30%;
    display: inline;
}

.forbiddenP {
    text-align: center;
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 1.25rem;
}